<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" />
    <title>Online Library</title>
    <style>
        .buttons * {
            margin: 4px;
        }
        
        /* h3 colors are set in server.py */
    </style>
</head>
<body>
    <main>
        <div id="container">
            <h3>{{msg|safe}}</h3>
            <h1>main menu</h1>
            <div class="buttons">
                <p onclick="window.location.href='add_book'">add book</p>
                <p onclick="window.location.href='list_books'">list all books</p>
                <p>remove book</p>
                <p>exit</p>
            </div>
        </div>
    </main>
</body>
</html>