<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/main_menu.css" />
    <title>Online Library</title>
</head>
<body>
    <main>
        <div id="container">
            <h1>main menu</h1>
            <div id="buttons">
                <p onclick="window.location.href='add_book'">add book</p>
                <p>list all books</p>
                <p>remove book</p>
                <p>exit</p>
            </div>
        </div>
    </main>
</body>
</html>