<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/list_books.css" />
    <title>Online Library</title>
    <style>
        p {
            margin-top: 16px;
        }
    </style>
</head>
<body>
    <main>
        <div id="container">
            <h1>All books:</h1>
            <h3>{{all_books}}</h3>
            <div class="buttons">
                <p onclick="window.location.href='/'">back</p>
            </div>
        </div>
    </main>
</body>
</html>